/* reset for these elements */
html, body, p {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    font-style: normal;
    font-family: sans-serif;
}


/* basic styles */
html, body {
    line-height: 1.0;
    height: 100%;
}

#buttons {width: 100%;
          align: center;
          }

#buttons button {
    background-color: limegreen; /* Green */
    border: 4px outset lightgreen;
    color: black;
    font-size: large;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
    horizontal-align: center;
    width: 33%;
    max-width: 12em;
    height: 7ex;
    }


#buses table {margin-left: 1em;
              margin-right: 1em;
              }

#buses td {border-bottom: 1px dashed green;
           padding-top: 1em;
           font-size: larger;
           padding: 1ex;
}

/* main layout structure and styling: header, content, and footer */
#header {
    /* your header container styles */
}

#header ul {
    list-style: none;
    /* your menu styles */
}

#header li {
    /* your menu item styles (such as display: inline) */
}

#content {
    /* your content holder styles */
}

#footer {
    /* your footer container styles */
}
